<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>basket-item-display</title>
    <link rel="stylesheet" href="../../scripts/css/font-database.css">
    <link rel="stylesheet" href="../../scripts/css/structure-database.css">
    <link rel="stylesheet" href="../../scripts/css/product-display.css">
</head>
<style>
    
</style>
<body>
    <div class="basket-product-display">
        <div class = "basket-image-container">
            <img class = "basket-image" src="../../images/flush-image.png" alt="">
        </div>
        <div class = "basket-product-information">
            <div class = "basket-product-information-left">
                <div class="caption">Best Seller</div>
                <div class="product-name-text"> Zola Flush Light</div>
                <div class="product-id-text">Product ID:ZOLA3GLD</div>
                <div class="colour-selection">
                    <div class="colour-selection-circle" id="gold"></div>
                </div>
                <div class="quantity-button-var2">
                    <img class = "quantity-icon-plus" src="../../images/Plus%20sign.png" alt=""/>
                    <div class="product-quantity">1</div>
                    <img class = "quantity-icon-minus" src="../../images/Minus%20sign.png" alt=""/>
                </div>                
            </div>
            <div class = "basket-product-information-right">
                <div class = "remove-button"><img class = "remove-button" img src="../../images/delete-button-icon.png"/></div>
                <div class = "like-button"><img class = "like-button" src="../../images/heart-shape-icon.png"/></div>
                <div class="product-price-block">
                    <div class="currency">$</div>
                    <div class="product__price">429.00</div>
                </div>
                <div class = "edit-button">Edit</div>
            </div>
        </div>
    </div>
</body>
</html>