<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>summary-product-display</title>
    <link rel="stylesheet" href="../../scripts/css/typography.css">
    <link rel="stylesheet" href="../../scripts/css/layout.css">
</head>

<body>
    <div class="product-display far-between">
        <div class = "summary-image-container">
            <img class = "basket-image" src="../../images/flush-image.png" alt="">
        </div>
        <div class = "basket-product-information">
            <div class = "basket-product-information-left">
                <div class="caption">Best Seller</div>
                <div class="product-name-text"> Zola Flush Light</div>
                <div class="product-id-text">Product ID:ZOLA3GLD</div>
                <div class="product-price-block ">
                    <div class="currency">$</div>
                    <div class="product__price">429.00</div>
                </div>
            </div>
            <div class = "basket-product-information-right">
                <p class = "description-text">Colour: Gold</p>
                <p class = "description-text">Qty: 1</p>
            </div>
        </div>
    </div>
</body>
</html>