#basket-text{
    margin-left: 2vh;
}
.basket-products{
    padding-left: 2vh;
    padding-right: 2vh;
}
#left__container{
    flex-grow: 2;
}
#right__container{
    flex-grow: 1;
}
#item-count{
    text-align: end;
    margin-top: 2vh;
    margin-bottom: 2vh;
}