/*basestyle*/
button{
    font-family: "Century Gothic", Arial, sans-serif;
    outline: none;
    border: none;
    background: #1e1e1e;
    transition-duration: 0.4s;
    font-size: 10px;
    font-weight: 100;
    padding: 10px 20px;
    color: #FFFFFF;
}
button:hover{
    transform: scale(1.01);
    cursor: pointer;
    color: white;
    background-color: black;
}
button:active{
    background-color: black;
}

a:hover{
    transform: scale(1.01);
    cursor: pointer;
}

/*modifiers*/
.button--translucent{
    margin: 1vw;
    background: none;
    border:1px solid black;
    width: 30%;
    color: black;
}
.button--translucent:hover{
    color: white;
    background-color: #1e1e1e;
}

.button--translucent:active{
    color: white;
    background-color: #1e1e1e;
}

.button--large{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A4A4A;
    font-size: var(--sub-major-font-size);
    color: white;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    transition: width 0.3s ease, background-color 0.3s ease;
}

/*add to cart*/
.add-to-cart-button{
    display: flex;
    /*size*/
    height: 50px;
    width: 70%;
    font-size: 20px;
    /*style*/
    background-color: #414042;
    color: white;
    justify-content: center;
    align-items: center;
}


.quantity-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4vw;
    border: 1px solid black;
    width: 35%;
    height: 49px;
    background-color: white;
}

/*Desktop*/
@media (min-width: 1367px){
    .button--large {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4A4A4A;
        font-size: var(--sub-major-font-size);
        margin-top: 20px;
        margin-right: 3%;
        height: 50px;
    }
}

/*mobile*/
@media (max-width: 845px){
    .quantity-button{
        width: 100%;
    }
    .add-to-cart-button{
        width: 100%;
    }

    .add-to-cart-button-cross{
        height: 30px;
        width: auto;
    }
}

#increase-quantity-button{
    cursor: pointer;
}
#decrease-quantity-button{
    cursor: pointer;
}
