/*The outer frame of the panel*/
.card-panel {
    width: 92vw;
    padding: 4vh 4vw 6vh 4vw;
}

.title {
    font-size: 1.5em;
    font-weight: 800;
    padding-bottom: 2vh;
    margin: 0;
    width: 92vw;
}
/*the card container for all cards*/
.category-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
/*each card that consist of a image and a label*/
.category-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: auto;
}

.category-card > img {
    height: auto;
}
.category-card-label {
    font-size: 1rem;
    font-family: var(--font-family), serif;
    margin-top: 1vh;
}