/*The outer frame of the panel*/
.card-panel {
    width: 92vw;
    padding: 4vh 4vw 6vh 4vw;
}

.title {
    font-size: 1.5em;
    font-weight: 800;
    padding-bottom: 2vh;
    margin: 0;
    width: 92vw;
}
/*the card container for all cards*/
.category-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px 20px 0;
}

/*each card that consist of a image and a label*/
.category-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: auto;
    overflow: hidden;
    /*make the grid adjust automatically based on the*/
    flex: 1 1 150px; 
}
.category-card > img {
    align-items: center;
    overflow: hidden;
}
.category-card:hover > img{
    transform: scale(1.2);
    overflow: hidden;
    transition: transform 0.5s, overflow 0.5s
}

.category-card > img {
    height: auto;
}

.category-card-label {
    font-size: 1rem;
    font-family: var(--font-family), serif;
    margin-top: 1vh;
}

/* scroll horizontal */
@media (max-width: 768px) {
    .category-card-container {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 60px;
    }
    .category-card {
        display: inline-block;
    }
    .category-card-label{
        font-size: 12px;
    }
}
