footer {
    background-color: #000000;
    color: #FFF;
    font-size: var(--main-font-size);
    font-style: normal;
    font-weight: 700;
}
.equal-divider-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:10%;
    width: 100%;
}
#billing__information{

}

.checkout-input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
    margin: 5px 0;

}

.empty{
    width: 100%;
    height: 1px;
}
#card-info{
    width: 100%;
    height: 50px;
    border: none;
    outline: 1px solid black;
    margin-top: 30px;
    background-color: transparent;
    padding-left: 10px;
    border-radius: 20px;
}

#payment-detail{
    margin-top: 40px;
}

h2{
    margin: 0;
}

h3{
    font-weight: 300;
}

#checkout-info-container{
    margin-top: 0;
}

#checkout-progress-bar-placeholder{
    padding-top: 30px;
    margin-left: 10%;
}
.summary-category{
    margin-bottom: 50px;
}
/*at desktop*/
@media (min-width: 768px)
{
    
}

