:root{
    --black: #000000;
    --white: #FFFFFF;
    --offwhite: #FAFAFA;
    --grey:#7B7575;
    --dark-grey:#6a6a6a;
}

.black-text{
    color: var(--black);
}

.contrast-background{
    background-color: var(--offwhite);
}

.top-black-background{
    background-color: var(--offwhite);
}

.white{
    color: var(--white);
}

footer {
    background-color: var(--black);
    color: var(--white);
}

.checkout-input {
    color: var(--black);
    border-bottom: 1px solid var(--black);
}

#card-info{
    outline: 1px solid var(--black);
    background-color: transparent;
}

footer {
    background-color: var(--black);
    color: var(--white);
}

/*checkout-summary*/

#checkout-summary-panel-basket-page {
    border-top: 5px solid var(--black);
}
.terms-conditions{
    color: var(--dark-grey);
}
.promotion-input-text{
    outline: 1px solid var(--black);
    background-color: transparent;
}


/*footer*/
/*desk top*/
/*mobile top*/
.footer{
    background-color: var(--black);
}
#footer-top {
    color: var(--black);
    background-color: var(--white);
}

#footer-container{
    color: var(--white);
}
#footer-bottom {
    color: var(--white);
}


.line{
    border: 0.1px solid var(--white);
}

#receive-updates-button {
    /*color*/
    background-color: var(--white);
    color: var(--black);
    /*border*/
    border-inline: 1px solid var(--black);
}

#email-input {
    /*color*/
    background-color: var(--black);
    color: var(--white);
    /*border*/
    border: 1px solid var(--white);
}
#email-input::placeholder{
    color: var(--white);
}
/*mobile CSS*/

/*Mobile Optimization*/

/*set top part colour*/
.footer__mobile__top{
    background-color: var(--white);
}
/*set bottom colour*/
.footer__mobile__bottom{
    
    background-color: var(--black);
    color: var(--white);
}

.black-line {
    border-bottom: 0.5px solid var(--black);
}
.white-line{
    border-bottom: 0.5px solid var(--white);
}
.footer__mobile__top p{
    color: var(--black);
}
.footer__mobile__bottom p{
    color: var(--offwhite);
}

.newsletter{
    outline: 1px solid var(--black);
}

/*mobile menu-------------------*/

#mobile--menu-container{
    background-color: var(--white);
}
.black-line {
    background-color: var(--black);
}
#mobile-search-input {
    border: 1px solid var(--black);
}
input::placeholder {
    color: var(--black);
}

#mobile-search-input{
    background-color: var(--offwhite);
    color: var(--black);
}

/*mobile menu-------------------*/


/*order summary ----------*/

.line{
    background-color: var(--black);
}


/*product card ------------- */
.quantity-button {
    outline: 1px solid var(--black);
}
.product-quantity {
    color: var(--black);
}
.remove-button {
    color: var(--black);
}
.currency {
    color: var(--black);
}
.product__price {
    color: var(--black);
}
.edit-button {
    color: var(--black);
}
.colour-selection-circle{

    outline: 1px solid var(--grey);
}

/*product-display ----------*/
.basket-product-display {
    border-bottom: 1px solid var(--black);
}
.quantity-button-var2 {
    outline: 1px solid var(--black);
}
.quantity-button {
    outline: 1px solid var(--black);
}

.product-quantity {
    color: var(--black);
}
.remove-button {
    color: var(--black);
}
.currency {
    color: var(--black);
}
.product__price {
    color: var(--black);
}
.edit-button {
    color: var(--black);
}
.colour-selection-circle{
    outline: 1px solid var(--grey);
}


/*product list -------------*/
.filter-button {
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--black);
}