
:root {

    /* define different font sizes*/
    font-size: 16px;
    --main-font-size: 16px;
    --sub-description-font-size: 10px;
    --description-font-size: 14px;
    --sub-major-font-size: 18px;
    --major-font-size: 20px;
    --title-font-size: 28px;
    --extra-title-font-size: 48px;
    /*different font weight*/
    font-weight: 400;
    --bold: 900;

    --light-weight:300;
    --regular-weight: 400;
    --bold-weight: 700;

    /*padding for text space*/
    --text-padding-left: 2vw;
    --font-family: "Century Gothic", sans-serif;
}

body{
    font-family: var(--font-family), sans-serif;
}

/*fonts for description */
.description{
    font-size: var(--description-font-size);
    font-weight: var(--light-weight);
    color: #000;
    font-style: normal;
    line-height: normal;
}

/*fonts for subheadings */
.subheading{
    font-size: var(--major-font-size);
    font: var(--font-family);
    font-weight: var(--bold-weight);
}


/*fonts for input text */
.input-text{
    font-size: var(--description-font-size);
    font: var(--font-family);
}
/*fonts for headings */
.heading{
    font-size: var(--title-font-size);
    font-weight: var(--bold-weight);
}

/*fonts for extra large headings*/
.extra-heading{
    font-size: var(--extra-title-font-size);
    font-weight: var(--bold-weight);

    color: #000;
    font-style: normal;
    line-height: normal;
    margin: 0;
}
