/*Desktop */
@media (min-width: 430px)
{
    body{
        margin: 0;
        padding: 0;
    }
}
/*Mobile*/
@media (max-width: 430px)
{
    body{
        margin: 0;
        padding-top: 90px;
        height: auto;
    }
}

a{
    text-decoration: none;
}

.sidebar{
    flex-basis: 30rem;
    flex-grow: 1;
    min-width: 40%;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}

.placeholder {
    overflow: hidden;
}
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}


#gold{
    background-color: #E8BB47
}


/*use when 2 components in the far opposite*/
.far-between{
    display: flex;
    justify-content: space-between;
}
/*creates border*/
.inner-container
{
    padding: 2vh 4vw 2vh 4vw;
}

/*all items lean left*/
.lean-left{
    display: flex;
    justify-content: flex-start;
}

.divider{
    height: 1px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}


/*Category-card*/
.category-card > img {
    /*layout*/
    align-items: center;
    overflow: hidden;
}

@media (min-width: 768px) {
    .category-card {
        overflow: hidden;
    }
    .category-card:hover{
        transform: scale(1.05);
        overflow: hidden;
        transition: transform 0.5s, overflow 0.5s
    }
}


.category-card > img {
    height: auto;
}


/* scroll horizontal */
@media (max-width: 768px) {
    .category-card-container {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .category-card {
        display: inline-block;
    }
}


/*checkout page*/


.equal-divider-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.checkout-input {
    width: 100%;
    height: 30px;
    outline: none;
    border-bottom: 1px solid black;
}

.empty{
    width: 100%;
    height: 1px;
}
#card-info{
    width: 100%;
    height: 50px;
    border: none;
}

/*checkout-summary*/

.promotion-input-text{
    width: 100%;
    height: 50px;
    border: none;
}

/*footer ---------------- */

/*desk top*/
@media (min-width: 768px) {
    .footer__mobile{
        display: none;
    }
    .footer{
        display: flex;
        width: 100vw;
    }
}
/*mobile top*/
@media (max-width: 768px) {
    .footer{
        display: none;
    }
    .footer__mobile{
        width: 100vw;
        display: flex;
    }
}

.footer{
    flex-direction: column;
    align-items: center;
}
#footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    outline: none;
}
#footer-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: auto;
}
#footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30px;
}

#Newsletter{
    /*top line*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    align-items: flex-end;
}

.line{
    width: 100%;
}
#footer-icon-container {
    display: flex;
    flex-direction: row;
}
#follow-us {
    /*alignment*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.footer-icons{
    height: 30px;
    width: auto;
}

#receive-updates-button {
    /*alignment*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*size*/
    width: 100%;
    height: 35px;
}

#follow-us {
    justify-content: flex-end;
}

#email-input {
    /*size*/
    width: 99%;
    height: 30px;
    outline: none;
}
/*mobile CSS*/

/*Mobile Optimization*/
.footer__mobile{
    flex-direction: column;
    align-items: center;
}
/*align items center*/
.footer__mobile > div{
    align-items: center;
}
/*set top part colour*/
.footer__mobile__top{
    width: 100%;
}
/*set bottom colour*/
.footer__mobile__bottom{
    width: 100%;
    height: auto;
}
.language-setting{
    justify-content: center;
    align-items: center;
}
/**/
.footer-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.black-line {
    width: 100%;
}
.white-line{
    width: 100%;
}


#mobile-newsletter-title{
    text-align: center;
}

.newsletter{
    width: 90vw;
    border: none;
}
.lean-left{
    align-items: center;
    justify-content: flex-start;
}
#mobile-update-button{
    width: 93vw;
}
#footer__international{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#footer__international div{
    display: flex;
    align-items: center;
}
.footer-icons{
    height: 20px;
}
.footer-icons-globe{
    height: 20px;
    width: auto;
}

.far-between{
    display: flex;
    flex-direction: row;
}

/*mobile menu-------------------*/



#mobile--menu-container{
    position: fixed;
    top: 0;
    z-index: 2000;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    /*padding: 25px;*/
    background-color: #ffffff;
    /*animation*/
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
#mobile__menu-button{
    cursor: pointer;
}

.search-bar-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#cross-sign{
    height: 1.3rem;
}
.mobile-menu-icon {
    height: 2rem;
}
.mobile-menu-icon img {
    height: 24px;
    width: 24px;
}
.black-line {
    height: 1px;
    width: 100%;
}
#mobile__menu-middle{
    display: flex;
    flex-direction: column;
}
#mobile-search-input {
    width: 78vw;
    border-radius: 10px;
}

#mobile-search-input{
    border: none;
}

#mobile-search-icon{
    position: absolute;
    right: 31px;
    top: 38px;
    width: 8vw;
    height: auto;
}
#mobile__menu-bottom{
    position: fixed;
    left: 2.5%;
    width: 95%;
}

#bottom-divider{
    position: fixed;
    left: 2.5%;
    width: 95%;
}


#mobile__menu-bottom{
    width: 95%;
    left: 2.5%;

}

#mobile__menu-search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*Order Summary-------------------*/
.line{
    width: 100%;
}

.summary{
    display: flex;
    flex-direction: column;
}

.summary-number{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/*product card ------------- */

.basket-product-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.basket-product-information-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.basket-product-information-right {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
}

.like-button{
    display: flex;
    height: 20px;
    width: auto;
    padding: 5px;
    margin-top: 40px;
    margin-left: auto;
}

.remove-button {
    height: 15px;
}

.like-button {
    width: 15px;
    height: 15px;
}
.product-price-block {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.colour-selection-circle{
    border-radius: 50%;
}



/*product-display ----------*/
.basket-product-display {
    display: flex;
    justify-content: space-between;
}

.basket-product-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.basket-image{
    width: 95%;
}

.basket-product-information-left {
    display: flex;
    flex-direction: column;
}
.basket-product-information-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.basket-image-container{
    height: 80%;
}
.quantity-button-var2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 100px;
    border-radius: 20px;
}

.remove-button {
    height: 15px;
}

.like-button {
    width: 15px;
    height: 15px;
}


.quantity-icon-plus{
    width: 1vh;
}

.quantity-icon-minus{
    width: 1vh;
}

.product-price-block {
    display: flex;
    align-items: flex-start;
}

.colour-selection-circle{
    width: 12px;
    height: 12px;
}



/*product list -------------*/
.product-list-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.filters-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.filter-button {
    padding: 10px 20px;
}
.page-number{
    display: flex;
    flex-direction: row;
}
.product-list-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    transform: scale(1.4);
}

/*compensate the website display issue with use of scale()*/
.compensation{
    flex: none;
    height: 300px;
}

/*desk top version*/
@media (min-width: 768px) {
    .product-list-items {
        display: grid;
        transform: scale(1.4);
    }
}

/*tabletop grid version*/
@media (max-width: 912px){
    .product-list-items {
        grid-template-columns: repeat(3,1fr);
        transform: scale(1);
    }
    .product-name-text {
        font-size: 16px;
    }
    .compensation{
        flex: none;
        height: 0;
    }
}
/*mobile*/
@media (max-width: 768px){
    .product-list-items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        transform: scale(1);
    }
    .product-list-items > div{
        width: 45%;
    }
    .product-item-display-image{
        width: 100%;
    }
    .compensation{
        flex: none;
        height: 0;
    }
}

/*confirmation page*/
#progress-bar-placeholder{
    padding-top: 30px;
    margin-left: 10%;
    padding-bottom: 30px;
}