#mobile--menu-container{
    position: fixed;
    top: 0;
    z-index: 2000;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    padding: 25px;
    background-color: #FAFAFA;
}

.mobile-menu-icon {
    height: 24px;
}
.mobile-menu-icon img {
    height: 24px;
    width: 24px;
}
.black-line {
    background-color: black;
    height: 1px;
    width: 100%;
}
#mobile__menu-middle{
    display: flex;
    flex-direction: column;

    padding: 25px 0;
}
input {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
}
input::placeholder {
    color: black;
    font-size: 12px;
    font-family: "Century Gothic", Arial, sans-serif;
}

#mobile-search-input{
    background-color: #E6E7E8;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    outline: none;
    color: black;
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 50px;
}
#mobile__menu-bottom{
    position: fixed;
    bottom: 20px;
    left: 2.5%;
    width: 95%;
}

#bottom-divider{
    position: fixed;
    bottom: 50px;
    left: 2.5%;
    width: 95%;
}

#mobile__menu-middle-middle{
    margin-top: 80px;
}

h2{
    font-weight: 400;
    margin-top: 0;
}

.mobile-menu-block{
    margin-top: 1vh;
}

#mobile__menu-bottom{
    width: 95%;
    left: 2.5%;

}

#mobile__menu-search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

}

a{
    margin-left: 5px;
}