.line{
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin: 50px 0;
}

.total-items{
    text-align: right;
    margin-right: 2vh;
}


p{
    margin-top: 1px;
    margin-bottom: 1px;
}
#total-amount{
    font-size: var(--sub-major-font-size);
    font-weight: var(--bold);
}
.summary{
    display: flex;
    margin: 2vh;
    flex-direction: column;
}

.summary-title{
    font-size: var(--major-font-size);
}
.summary-number{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}