.basket-product-display {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    border-bottom: 1px solid #000000;
}
.basket-product-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.basket-product-information-left {
    display: flex;
    flex-direction: column;
}
.basket-product-information-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.basket-image-container{
    height: 80%;
}
.quantity-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 0.5px solid black;
    border-radius: 20px;
    height:25px;
    margin-bottom: 1vh;
    width: 100px;
}

.product-quantity {
    margin-top: 1px;
    font-size: 14px;
    color: #000000;
}
.remove-button {
    height: 15px;
    color: #000000;
}
.caption{
    font-size: 10px;
    font-weight: var(--bold);
}
.product-id-text{
    font-size: 8px;

}
.like-button {
    width: 15px;
    height: 15px;
    margin-top: 1vh;
}

.quantity-icon-plus{
    padding-left: 1vw;
    width: 1vh;
}

.quantity-icon-minus{
    padding-right: 1vw;
    width: 1vh;
}

.product-price-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5.5vh;
}
.currency {
    font-size: 10px;
    color: #000000;
}
.product__price {
    font-size: 18px;
    color: #000000;
}
.edit-button {
    font-size: 12px;
    color: #000000;
    text-decoration-line: underline;
}
.colour-selection-circle{
    width: 12px;
    height: 12px;
    outline: 1px solid #7B7575;
    border-radius: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.product-name-text{
    font-size: 18px;
}