
.placeholder {
    overflow: hidden;
}
/*provide overall structure*/
.stack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 30rem;
    flex-grow: 1;
    min-width: 50%;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}

#gold{
    background-color: #E8BB47
}

button{
    font-family: "Century Gothic", Arial, sans-serif;
    outline: none;
    border: none;
    background: #161616;
    font-size: 10px;
    font-weight: 100;
    padding: 10px 20px;
    color: #FFFFFF;
}
