:root {
    --small-text: 14px;
    --medium-text: 16px;
    --title-text: 24px;
}
.placeholder {
    overflow: hidden;
}
/*provide overall structure*/
.stack {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}
body{
    font-family: "Century Gothic", Arial, sans-serif;
}

button{
    outline: none;
    border: none;
    background: #161616;
    font-size: 0.7em;
    font-weight: 400;
    padding: 10px 20px;
    color: #FFFFFF;
}