/*Desktop */
@media (min-width: 768px)
{
    body{
        margin: 0;
        padding: 0;
    }
}
/*Mobile*/
@media (max-width: 768px)
{
    body{
        margin: 0;
        padding-top: 80px;
        height: auto;
    }
}

.placeholder {
    overflow: hidden;
}
.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar{
    flex-basis: 30rem;
    flex-grow: 1;
    min-width: 50%;
}

.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
}

#gold{
    background-color: #E8BB47
}


/*use when 2 components in the far opposite*/
.far-between{
    display: flex;
    justify-content: space-between;
}
/*creates border*/
.inner-container
{
    padding: 2vh 5vw 2vh 5vw;
}

/*all items lean left*/
.lean-left{
    display: flex;
    justify-content: flex-start;
}

.divider{
    height: 1px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;

}