
:root {
    /* define different font sizes*/
    font-size: 16px;
    --main-font-size: 16px;
    --sub-description-font-size: 10px;
    --description-font-size: 14px;
    --sub-major-font-size: 18px;
    --major-font-size: 20px;
    --sub-title-font-size:24px;
    --title-font-size: 28px;
    --extra-title-font-size: 48px;
    /*different font weight*/
    font-weight: 400;
    --bold: 900;

    --light-weight:300;
    --regular-weight: 400;
    --bold-weight: 700;

    /*padding for text space*/
    --text-padding-left: 2vw;
    --font-family: "Century Gothic", sans-serif;
    
}

body{
    font-family: var(--font-family), sans-serif;
}

/*fonts for description */
.sub-description{
    font-size: var(--sub-description-font-size);
    font-weight: var(--light-weight);
    font-style: normal;
    line-height: normal;
}
.description{
    font-size: var(--description-font-size);
    font-weight: var(--light-weight);
    font-style: normal;
    line-height: normal;
}

/*fonts for subheadings */
.subheading{
    font-size: var(--major-font-size);
    font: var(--font-family);
    font-weight: var(--bold-weight);
}


/*fonts for input text */
.input-text{
    font-size: var(--description-font-size);
    font: var(--font-family);
}
.smaller-heading{
    font-size: var(--sub-title-font-size);
    font-weight: var(--bold-weight);
}
/*fonts for headings */
.heading{
    font-size: var(--title-font-size);
    font-weight: var(--bold-weight);
}
@media (max-width: 768px){
    .heading{
        font-size: var(--sub-title-font-size);
    }
}

/*fonts for extra large headings*/
.extra-heading{
    font-size: var(--extra-title-font-size);
    font-weight: var(--bold-weight);
    font-style: normal;
    line-height: normal;
    margin: 0;
}

input::placeholder {
    font-size: 12px;
    font-family: "Century Gothic", Arial, sans-serif;
}

/*The outer frame of the panel*/

.title {
    /*fonts*/
    font-size: 1.5em;
    font-weight: 800;
}

/*Category-card*/

.category-card-label {
    font-size: 1rem;
    font-family: var(--font-family), serif;
}

/* scroll horizontal */
@media (max-width: 768px) {
    .category-card-label{
        font-size: 12px;
    }
}

footer {
    font-size: var(--main-font-size);
    font-style: normal;
    font-weight: 700;
}

/*checkout page*/
h2{
    margin: 0;
}

h3{
    font-weight: 300;
}


/*checkout-summary*/
.terms-conditions{
    text-align: right;
    font-size: 12px;
}

/*footer -----------------*/

.footer{
    font-family: var(--font-family),serif;
}

#footer-bottom {
    font-size: var(--sub-description-font-size);
}
#helps{
    font-size: 10px;
    text-align: right;
}
#Newsletter{
    /*top line*/
    font-family: "Century Gothic", Arial, sans-serif;
}
#newsletter-text{
    text-align: right;
}

#follow-us {
    font-size: var(--sub-description-font-size);
}

#email-input {
    font-size: 10px;
}

#footer-container{
    font-size: var(--description-font-size);
}

.footer__mobile__top p{
    font-size: var(--description-font-size);
    color: #000000;
    font-weight: 300;
}
.footer__mobile__bottom p{
    font-size: var(--sub-description-font-size);
    font-weight: 300;
}

#mobile-newsletter-title{
    color: black;
    text-align: center;
}

.newsletter{
    font-family: "Century Gothic", Arial, sans-serif;
}


/*mobile menu-------------------*/

#mobile-search-input {
    font-size: 16px;
}
input::placeholder {
    font-size: 12px;
    font-family: "Century Gothic", Arial, sans-serif;
}

h2{
    font-weight: 400;
}

/*order summary ----------*/

#total-amount{
    font-size: var(--sub-major-font-size);
    font-weight: var(--bold);
}
.summary-title{
    font-size: var(--major-font-size);
}
.total-items{
    text-align: right;
}

/*product card ------------- */

.product-quantity {
    font-size: 20px;
}
.caption{
    font-size: 10px;
    font-weight: var(--bold);
}
.product-id-text{
    font-size: 8px;
}
.currency {
    font-size: 10px;
}
.product__price {
    font-size: 18px;
}
.edit-button {
    font-size: 10px;
    text-decoration-line: underline;
}
.product-name-text{
    font-size: 18px;
}


/*product-display ----------*/
.product-quantity {
    font-size: 14px;
}
.caption{
    font-size: 10px;
    font-weight: var(--bold);
}
.product-id-text{
    font-size: 8px;
}
.currency {
    font-size: 10px;
}
.product__price {
    font-size: 18px;
}
.edit-button {
    font-size: 12px;
    text-decoration-line: underline;
}
.product-name-text{
    font-size: 18px;
}

/*product list -------------*/
.filter-button {
    font-size: 1em;
    font-style: normal;
}
.page-number{
    font-size: var(--sub-major-font-size);
}

/*desk top version*/
@media (min-width: 768px) {
    .product-name-text {
        font-size: 16px;
    }
}

/*tabletop grid version*/
@media (max-width: 912px){
    .product-name-text {
        font-size: 16px;
    }
}
/*mobile*/
@media (max-width: 768px){
    .product-name-text {
        font-size: 15.5px;
    }
}

.filter-button{
    font-size: 0.7rem;
}


/*product-page-product-information------------------*/
.subheadings{ /*font-databse dosent work*/
    font-weight: bold;
    font-size: 20px;
}



/*product page product display -----------------*/

.product-display__breadcrumb{
    font-size: var(--description-font-size);
}

#product-ID{
    font-size: 10px;
}
#current-colour-name{
    font-size: 14px;
}
#product-name{
    font-size: var(--title-font-size);
    font-weight: 800;
}
.currency{
    font-size: 14px;
}

.product-price{
    font-size: var(--title-font-size);
}

/*description*/
.product-description-title{
    font-size: var(--title-font-size);
    font-weight: 600;
}

.product-description-text{
    font-size: var(--description-font-size);
}



/*product list intro --------------------*/

.product-list-intro-text{
    text-align: center;
}

/*Mobile optimization*/
@media (max-width: 768px) {
    .product-list-intro-text{
        text-align: center;
    }
}

.product-list-intro-title-text{
    font-size: 2.5rem;

}

@media (max-width: 767px) {
    .product-list-intro-text{
        font-size: 0.8rem;
    }
}

/*news panel---------------------*/

.heading{
    font-size: 28px;
    font-weight: 700;
}
.text{
    margin-top: 2vh;
    font-size: 13px;
    font-weight: 400;
}
.secondary-text{
    text-decoration-line: underline;
    font-size: 9px;
    font-weight: 400;
}


/*leave a review ------------------- */
h2{
    font-weight: 400;
    font-size: 20px;
}

.star-rating{
    font-size: 40px;
}
/*mobile optimization*/
@media (max-width: 768px){
    h2{
        font-size: 12px;
    }

}